# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build Output
dist/
client/dist/
dist-ssr/
*.local

# Environment Variables
.env
.env.local
.env.*.local
server/.env

# Logs
logs
*.log
npm-debug.log*

# Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
