# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.*.local

# Build Output
dist/
dist-ssr/
*.local

# Logs
logs
*.log
npm-debug.log*

# Server specifics
server/.env
server/node_modules/

# Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store


.env
server/.env